:root {
    --primary-font: "Inter";
    --primary-color: #47005e;
    --primary-color-rgb: 71, 0, 94;
    --secondary-color: #6c7a91;
    --secondary-color-rgb: 108, 122, 145;
    --heading-color: inherit;
    --text-color: #182433;
    --text-color-rgb: 24, 36, 51;
    --link-color: #47005e;
    --link-color-rgb: 71, 0, 94;
    --link-hover-color: #47005e;
    --link-hover-color-rgb: 71, 0, 94;
}


.loading-row {
    text-align: center;
}

.loading-row .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--primary-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: inline-block;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
